@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html {
  font-family: 'Arial', sans-serif;
  background-color: #04004d;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  /* overflow-x: hidden; */
}

.not {
  height: 120px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.crypto {
  height: 120px;
  width: 100%;
  position: absolute;
  background-color: #04004d;

}

.line {
  position: absolute;
  width: 0;
  height: 20px;
  background-color: #ffa400;
  border: 5px solid #04004d;
  z-index: 20;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}